body {
	color: white;
	background-color: #012542;
}


h1 {
	font-family: Comic Sans MS, sans-serif;
	background-color: #012542;
}


a {
	color: white;
	background-color: #012542;
}



div{
	margin-left: 130px;
	margin-top: 3px;
	margin-bottom: 30px;

}


body {
	font-family: Times, serif;
	font-family: Roboto, sans-serif;
}

